# This workflow will compile and test verify
# when a push or pull request action on master is activated
# or when a push is done in a release

name: Main Workflow

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  mvn_flow:
    runs-on: ubuntu-latest
    name: mvn flow Java 24
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 24
      - name: compile
        run: mvn -B -f pom.xml clean compile
      - name: run test suits
        run: |
          mvn -B -f ./functional-definitions/annotation-definitions/pom.xml clean package
          mvn -B -f pom.xml test -P test
      - name: jacoco report
        run: mvn -B -f pom.xml -Dmaven.test.skip=true verify -P jacoco -Dgpg.skip=true
      - name: set PR number
        if: github.event_name == 'pull_request'
        run: |
          mkdir jacoco-functional/target/tmp
          mv -v jacoco-functional/target/site/* jacoco-functional/target/tmp/
          mkdir jacoco-functional/target/site/$PR
          mv -v jacoco-functional/target/tmp/* jacoco-functional/target/site/$PR/
        env:
          PR: ${{ github.event.pull_request.number }}
      - name: publish jacoco report
        uses: peaceiris/actions-gh-pages@v3
        if: github.event_name == 'pull_request'
        env:
          PR: ${{ github.event.pull_request.number }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./jacoco-functional/target/site/
          user_name: 'jacoco-report[bot]'
          user_email: 'jacoco-report[bot]@users.noreply.github.com'
          commit_message: "jacoco-report for PR ${PR}"
          keep_files: true
      - name: publish jacoco report
        uses: peaceiris/actions-gh-pages@v3
        if: github.event_name != 'pull_request'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./jacoco-functional/target/site/
          user_name: 'jacoco-report[bot]'
          user_email: 'jacoco-report[bot]@users.noreply.github.com'
          commit_message: 'jacoco-report'
          keep_files: true

  mutation_testing:
    runs-on: ubuntu-latest
    name: Mutation Testing
    steps:
      - uses: actions/checkout@v4
      - name: Disable GPG signing in CI
        run: |
          git config --global commit.gpgsign false
          git config --global tag.gpgsign false
          git config --global --unset user.signingkey || true
      - name: Setup java
        uses: actions/setup-java@v4
        with:
          java-version: 24
          distribution: temurin
      - name: mutation testing
        run: |
          mvn -B -f pom.xml clean
          mvn -B -f ./functional-definitions/annotation-definitions/pom.xml package
          mvn -B -f pom.xml test-compile org.pitest:pitest-maven:mutationCoverage org.pitest:pitest-maven:report-aggregate-module
          mkdir -p target/site
          mv target/pit-reports target/site
      - name: set PR number
        if: github.event_name == 'pull_request'
        run: |
          mkdir -p target/tmp
          mv -v target/site/* target/tmp
          mkdir -p target/site/$PR
          mv -v target/tmp/* target/site/$PR
        env:
          PR: ${{ github.event.pull_request.number }}
      - name: publish pitest report
        uses: peaceiris/actions-gh-pages@v3
        if: github.event_name == 'pull_request'
        env:
          PR: ${{ github.event.pull_request.number }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/site/
          user_name: 'pitest-report[bot]'
          user_email: 'pitest-report[bot]@users.noreply.github.com'
          commit_message: "pitest-report for PR $PR"
          keep_files: true
      - name: publish pitest report
        uses: peaceiris/actions-gh-pages@v3
        if: github.event_name != 'pull_request'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/site/
          user_name: 'pitest-report[bot]'
          user_email: 'pitest-report[bot]@users.noreply.github.com'
          commit_message: 'pitest-report'
          keep_files: true